trimesh==4.0.8
numpy==1.26.3
requests==2.31.0
mkdocs==1.5.3
mkdocstrings-python==1.8.0
mkdocs-material==9.5.3
pymdown-extensions==10.7.1
opencv-python==4.9.0.80
matplotlib==3.8.3

# Testing utils
coverage==7.4.0
tox==4.12.0
tox-gh-actions==3.2.0
pytest==7.4.4

# Optional
pyglet==1.5